<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <form action="/upload/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="version">Version:</label>
            <input type="text" name="version" placeholder="1.0.0.0" />
        </div>
        <div class="form-group">
            <label for="files">File #1</label>
            <input type="file" name="files" />
        </div>
        <div class="form-group">
            <label for="files">File #2</label>
            <input type="file" name="files" />
        </div>
        <div class="form-group">
            <label for="files">File #3</label>
            <input type="file" name="files" />
        </div>        
        <div class="form-group text-center">
            <input type="submit" value="upload" />
        </div>        
    </form>
</body>
</html>